extends templates/page

block title
  title Py.task

block content
  h1#top.index-header Py.task Helper
  form(id="live-search", method="post")
    fieldset
      input#filter.form-control(type="text", placeholder="search")
  each task in tasks
    .task.panel.panel-default
      h2: a.searchable(href="/tasks/#{task.name}") #{task.name}
      ul
        if task.category
          li
            | Категория:&nbsp;
            span.searchable #{task.category}
        li Максимальный балл: #{task.max}
        li Средний балл: #{task.average_points} (#{task.average_percent}%)
      hr
      a(href="#top") Наверх...

block add_scripts
  script(src="/js/task_search.js")
