extends templates/page

block title
  title Задачи | Py.task
  
block add_links
  link(rel="stylesheet", href="/css/sortable-theme-bootstrap.css")

block content
  h1.index-header Таблица задач
  .table-responsive
    table#task-table.table.table-hover.sortable-theme-finder(data-sortable)
      thead
        tr
          th(data-sorted="true", data-sorted-direction="ascending") Задача
          th(data-sortable-type="numeric") Max
          th(data-sortable-type="numeric") Средний балл
          th(data-sortable-type="numeric") Сдавшие
          th(data-sortable-type="numeric") Полный балл
      tbody
        each task in tasks
          tr
            td: a(href="/tasks/#{task.name}") #{task.name}
            td #{task.max}
            td(data-value="#{task.average_percent}")
              | #{task.average_points} (#{task.average_percent}%)
            td #{task.students_amount} чел.
            td #{task.students_full_points} чел.
  p: i Дисклеймер
  p
    | Так как максимальный балл может меняться в зависимости от года,
    | в данной таблице средний балл рассчитан как средний процент выполнения
    | задачи, умноженный на максимальный балл текущего года
  p
    | Средний процент рассчитывается как балл студента
    | разделенный на максимальный балл года сдачи
    
block add_scripts
  script(src='/js/sortable.min.js')
