extends page

block content
  each task, name in data
    .task
      a(href="tasks/#{name}.html"): h2 #{name}
      ul
        li Категории: #{task.categories}
        li Максимальный балл: #{task.max}
        li Средний балл: #{task.average}
        li Средний процент: #{task.average_percent}
      hr
      a(href="#") Наверх...