extends page

block content
  h1.index-header Py.task Helper
  each task in locals
    .task.panel.panel-default
      a(href="tasks/#{task.filename}"): h2 #{task.name}
      ul
        li Категория: #{task.category}
        li Максимальный балл: #{task.max}
        li Средний балл: #{task.average_points}
        li Средний процент: #{task.average_percent}
      hr
      a(href="#") Наверх...