extends page

block content
  h1.index-header Py.task Helper
  each task in locals
    .task.panel.panel-default
      a(href="tasks/#{task.name}.html"): h2 #{task.name}
      ul
        li Категории: #{task.categories}
        li Максимальный балл: #{task.max}
        li Средний балл: #{task.average}
        li Средний процент: #{task.average_percent}
      hr
      a(href="#") Наверх...