extends page

block add_links
  link(rel="stylesheet", href="/css/sortable-theme-bootstrap.css")

block content
  h1.index-header Таблица задач
  .table-responsive
    table.table.table-hover.sortable-theme-bootstrap(data-sortable data-sortable-initialized="false")
      thead
        tr
          th.narrow(data-sortable="false") #
          th(data-sorted="true", data-sorted-direction="ascending") Задача
          th(data-sorted="false", data-sortable-type="numeric") Max
          th(data-sorted="false", data-sortable-type="numeric") Средний балл
          th(data-sorted="false", data-sortable-type="numeric") Сдавшие
          th(data-sorted="false", data-sortable-type="numeric") Полный балл
      tbody
        - var number = 1
        each task in locals
          tr
            th(scope='row') #{number}
            td: p: a(href="/tasks/#{task.name}.html") #{task.name}
            td: p #{task.max}
            td: p #{task.average_points} (#{task.average_percent}%)
            td: p #{task.students_amount} чел.
            td: p #{task.students_full_points} чел.
            - number += 1
  p: i Дисклеймер
  p Так как максимальный балл может меняться в зависимости от года, в данной таблице средний балл рассчитан как средний процент выполнения задачи, умноженный на максимальный балл текущего года
  p Средний процент рассчитывается как балл студента разделенный на максимальный балл года сдачи

block add_scripts
  script(src='/js/sortable.min.js')
