extends page

block content
  h1 #{cur.name}

  ul
    li Категории wrq: #{cur.categories}
    li Максимальный балл: #{cur.max}
    li Средний балл: #{cur.average}
    li Средний процент: #{cur.average_percent}
