extends page

block content
  h1 #{task.name}

  ul
  li Категории: #{task.categories}
  li Максимальный балл: #{task.max}
  li Средний балл: #{task.average}
  li Средний процент: #{task.average_percent}
