extends page

block title
  title #{task.name} | Py.task

mixin base_stat(data)
  li Максимальный балл: #{data.max}
  li Средний балл: #{data.average_points} (#{data.average_percent}%)
  li Сдавшие: #{data.students_amount} чел.
  li Полный балл: #{data.students_full_points} чел.

block content
  p.text-right Время обновления базы #{date}
  .panel.panel-primary
    .panel-heading: h4 #{task.name}
    .panel-body
      ul
        li Категория: #{task.category}
        +base_stat(task)
  .panel.panel-info
    .panel-heading История:
    .panel-body
      ul.nav.nav-pills
        each data in annual
          li(role="presentation")
            a(href="#year#{data.year}", data-toggle="tab") #{data.year}
    .tab-content
      each data in annual
        .tab-pane(id="year#{data.year}")
          ul
            +base_stat(data)
  .panel.panel-info
    .panel-heading Комментарии:
    .table-responsive
      table.table.table-condensed.table-striped
        thead
          tr
            th Балл
            th Комментарий
        tbody
          each student in students
            - var comment = student.comment.replace(/\n/g, '<br>')
            - if (comment)
              tr
                td
                  p
                    span.label.label-success #{student.points} / #{student.max}
                    span.label.label-danger #{student.percent}%
                td.comment-cell: p !{comment}

  h4 Баллы
  ul
    each student in students
      li.points
        p
          span.label.label-success.points !{student.points} / #{student.max}
          span.label.label-danger.percent !{student.percent}%
          |&nbsp;Дней:&nbsp;#{student.days}
